$orange = #FF8211
$orangelight = #f5b175
$pink = #DD387F
$pinklight = #ff70ae
$pinkdark = #DD357E
$purple = #61277D
$purplelight = #b06cc5
$green = #02D68C
$greendark = #01BC7B

$opensans = 'Open Sans', sans-serif;

$imagepath = '../../assets/images/'

body,html
    background: $purple
    margin: 0
    padding: 0

section
    width: 100%
    max-width: 80%
    margin: auto
    margin-top: 28.5vw

body,html,h1,p
    font-family: $opensans

a
    color: $pink
    text-decoration: none
    &:hover
        color: $pinklight
        text-decoration: none
h1
    color: $pink
    font-size: 8.1vw
    text-align: center
    font-weight: 800
    line-height: 1.2;
    margin-bottom: 3vw;
h2
    color: $pink
    font-size: 6.5vw
    text-align: center
    font-weight: 800
    line-height: 1.2
    margin-bottom: 3vw;
p
    font-size: 2.6vw
    color: white
    text-align: center
    font-weight: 800
    width: 85%;
    margin: auto;

.pink
    color: $pink

#difference-logo
    position: absolute
    font-size: .9vw;
    top: .5rem
    left: .5rem
    width: 14.5em
    height: 11.4em
    background-size: 14.5em 11.4em
    background-image: url('/images/difference-logo.png');

.logo
    width: 30.8em;
    height: 32.8em;
    position: absolute;
    right: 0;
    top: 3.1vw;
    font-size: 0.92vw;
    background-size: 32.8em 32.8em;
    background-image: url('/images/logo-stamp.png');

.button-holder
    width: 86%;
    margin: 4rem auto 0;
    button
        font-size: 1.11vw
        margin: 0
        padding: 0
        width: 23.8em
        height: 11.6em
        background: none
        border: none
        outline: none
        background-size: 23.8em 11.7em
    .button-no
        float: left
        color: white
        background-image: url('/images/no-button.png')
        &:hover
            background-image: url('/images/no-button-hover.png')
    .button-yes
        float: right
        color: $purple
        background-image: url('/images/yes-button.png')
        &:hover
            background-image: url('/images/yes-button-hover.png')

#no
    margin-top: 36vw;
    display: none
    .logo
        width: 32.8em;
        height: 32.8em;
        right: 8.7vw;
        top: 14.3vw;
        font-size: 0.79vw;
#yes
    margin-top: 36vw;
    display: none
    .logo
        width: 32.8em;
        height: 32.8em;
        right: 9vw;
        top: 14.9vw;
        font-size: 0.79vw;